@model List<AboutWithSkillDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/UILayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ana Sayfa About Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Anasayfanın About alanında bulunan bilgileri aşağıdaki sayfadan düzenleyebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Giriş Mesajı</th>
                                        <th>Profil Mesajı</th>
                                        <th>Doğum Günü</th>
                                        <th>Unvan</th>
                                        <th>Email</th>
                                        <th>CV Linki</th>
                                        <th>Profil Fotoğrafı Linki</th>
                                        <th>Yetenekler</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.StartMessage</td>
                                            <td>@item.ProfileMessage</td>
                                            <td>@item.BirthDate</td>
                                            <td>@item.Title</td>
                                            <td>@item.Email</td>
                                            <td>@item.CvLink</td>
                                            <td>@item.ProfileImageLink</td>
                                            <td>
                                                <ul>
                                                    @foreach (var skill in item.Skills)
                                                    {
                                                        <li>@skill.SkillName</li>
                                                    }
                                                </ul>
                                                
                                            </td>
                                            <td><a href="/Admin/About/UpdateAbout/@item.AboutId" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (Model.Count == 0)
                            {
                                <a href="/Admin/About/CreateAboutModal" class="m-3 btn btn-outline-primary">Yeni About Ekle</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>